html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #424242;
  box-sizing: border-box;
}

.full-height {
  min-height: 100%;
  height: 100%
}

.left {
  float: left;
  width: 15%;
  background: #212121;
}

.right {
	width: 85%;
	float: left;
}
